.white{
	background-color: white;
}

.white p, .cream p, .blue p{
	color: black;
}

.cream{
	background-color: hsl(57.4,100%,87%);
}

.transparent{
	background-color: transparent;
}

.grey {
	background-color: #2B2D30;
}

.light-grey p {
	color: white;
}

.grey p {
	color: hsl(000, 0%, 33%);
}

.light-grey {
	background-color: grey;
}

.blue {
	background-color: hsl(170,95%,93%);
}

/* Background */

.backDark {
	background-color: hsl(180, 3%, 19%);
}

.backLight {
	background-color: hsl(0, 0%, 91%);
}
