@media (min-width: 768px) {		/* Desktop */
	h1 {
		font: 700 2rem/1.2 "Raleway";
	}

	h2 {
		font: 100 1.25rem/1.2 "Raleway";
	}

	h3 {
		font: 600 1.2rem/1.2 "Raleway";
	}

	h4 {
		font: 700 1.5rem/1.2 "Raleway";
	}

	h5 {
		font: 500 1rem/1.2 "Raleway";
	}

	p {
		font: 400 1rem/1.5 "Raleway";
	}

	li {
		font: 400 1rem/1.5 "Raleway";
	}

	label {
		font: 100 1rem/1.2 "Raleway";
	}

	input, textarea {
		font: 100 1rem/1.2 "Raleway";
	}
}

@media (min-width: 600px) {		/* Tablet */
	h1 {
		font: 700 1.75rem/1.2 "Raleway";
	}

	h2 {
		font: 100 1rem/1.2 "Raleway";
	}

	h3 {
		font: 600 0.95rem/1.2 "Raleway";
	}

	h4 {
		font: 700 1.25rem/1.2 "Raleway";
	}

	h5 {
		font: 500 0.9rem/1.2 "Raleway";
	}

	p {
		font: 400 0.8rem/1.5 "Raleway";
	}

	li {
		font: 400 0.8rem/1.5 "Raleway";
	}

	label {
		font: 100 0.8rem/1.2 "Raleway";
	}

	input, textarea {
		font: 100 0.8rem/1.2 "Raleway";
	}
}
