.imageRound {
	border-radius: 50%;
}

.imageSmall {
	max-width: 100px;
}

.coding {
	background-image: url(https://amias-burrows.co.uk/resources/images/stock/code.jpg);
}

.music {
	background-image: url(https://amias-burrows.co.uk/resources/images/stock/recording-studio.jpg);
}

.writing {
	background-image: url(https://amias-burrows.co.uk/resources/images/stock/typewriter.jpg);
}
