h2,p { margin-bottom: 2.4rem; }

h1{font: 700 2rem/1.2 "Raleway"; color: hsl(000, 0%, 33%); text-align: center;}
h2{font: 100 1.25rem/1.2 "Raleway"; color: hsl(000, 0%, 33%); text-align: center;}
time{font: 700 1rem/1.2 "Raleway"; color: hsl(250, 100%, 83%);}
h4{font: 700 1.5rem/1.2 "Raleway"; color: hsl(60, 3%, 53%); text-align: center;}
h3{font: 600 1.2rem/1.2 "Raleway"; color: hsl(174, 72%, 56%); text-align: center;}
p{font: 400 1rem/1.5 "Raleway"; color: hsl(000, 0%, 33%); text-align: center;}
figcaption p{font: 400 1rem/1.5 "Raleway"; color: hsl(000, 0%, 83%);}
li{font: 400 1rem/1.5 "Raleway"; color: hsl(000, 0%, 33%);}

.textleft{
	text-align: left;
}

.textright{
	text-align: right;
}

.textcenter{
	text-align: center;
}

.bigtitle{
	padding-top: 30px;
}

span {
	font: 100 1rem/1.2 "Raleway"; color: grey;
}