.white{
	background-color: white;
}

.cream{
	background-color: hsl(57.4,100%,87%);
}

.transparent{
	background-color: transparent;
}

.grey {
	background: #2B2D30;
	color: white;
}

.blue {
	background: hsl(170,95%,93%);
}

.cream-blue {
    Background: linear-gradient(mistyrose, aliceblue,skyblue);
}