#name, #email, #phone{
	border-color: #421a1a;
	border-style: solid;
	border-width: 0 1px 1px 0;
}

#body{
	border-color: #421a1a;
	border-style: solid;
	border-width: 0 1px 1px 0;
	sizeable: false;
}

#name, #body, #email{
	width: 100%;
}

#body{
	height: 100px;
}

#submit{
	width: 30%;
	float: right;
	background-color: #421a1a;
	color: white;
	border-radius: 12px;
	border: none;
}

#contact {
	font-family: "Book Antiqua", serif;
	font-size: 15px;
}