#name, #email, #phone{
	border: none;
	border-bottom: 1px solid green;
}

#body{
	border: 1px solid green;
	sizeable: false;
}

#name, #body #email{
	width: 100%;
}

#body{
	height: 100px;
}

#submit{
	width: 30%;
	float: right;
	background-color: green;
	color: white;
}