article {

	padding: 0.5in 0;
	display: grid;
	grid-template-columns:[outer1] 1fr [middle1] 1.25in [inner1] 2.5in [center] 2.5in [inner2] 1.25in [middle2] 1fr [outer2];
	margin: 0;
}

article * {
	grid-column: middle1/middle2;
}

.leftThin {
	grid-column: outer1 / inner1;
	Display: inline;
}

.leftWide {
	grid-column: outer1 / inner2;
	display: inline;
}

.rightThin {
	grid-column: inner2 / outer2;
	Display: inline;
}

.rightWide {
	grid-column: inner1 / outer2;
	display: inline;
}

.centerThin {
	grid-column: inner1 / inner2;
	Display: inline;
}

.centerWide {
	grid-column: middle1 / middle2;
	display: inline;
}