.fancy{
	margin: 0;
	padding: 0;
	text-align: center;
}

.fancy li{
	Display: inline;
	font: 400 1rem/1.2 "Raleway"; color: hsl(000, 0%, 33%);
	padding-left: 15px;
	padding-right: 15px;
}

.fancy li a{
	text-decoration: none;
	color: black;
	margin-left: 1mm;
	margin-right: 1mm;
}

.fancy li a:hover{
	color: hsla(360,100%,100%,0.5);
}

#special {
	font: 100 1rem/1.2 "Raleway"; color: hsl(000,0%,33%);
}

#special a:hover {
	color: hsla(0,0%,0%,0.5);
}