.first{
	font-weight: 700;
	padding-below: 10px
}

.secondr{
	font: 400;
	padding-left: 50px;
	padding-below: 10px;
}

.secondl{
	font: 400;
	padding-right: 50px;
	padding-below: 10px;
}

.thirdr{
	font-weight: 100;
	font-style: italic;
	padding-left: 100px;
	padding-below: 10px;
}

.thirdl{
	font-weight: 100;
	font-style: italic;
	padding-right: 100px;
	padding-below: 10px;
}

#lileft{
	text-align: right;
}

#liright{
	text-align: left;
}

.licenter{
	text-align: center;
}

ul{
	list-style-type: none;
}

.multilayer{
	margin: 0;
	padding: 0;
	text-align: center;
}